@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


:root {
    --white: #EEE8AA;
    --cinza: #B2AC88;
    --marrom: #8B4500;
    --vermelho-terroso: #78252d;
    --border: 0.1rem solid;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Public Sans, sans-serif;
    ;
    text-decoration: none;
    outline: none;
    transition: 0.2s linear;
    /* outline: 1px solid red;*/
}

body {
    background-color: var(--white);
    width: 100%;
    min-height: 100vh;
    
}

header {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    background-color: var(--marrom);
    height: 10vh;
    width: 100%;
    padding-top: 20px;

}

.navbar {
    display: flex;
    position: relative;
    gap: 40px;
    margin-left: 100px;

}

a#menu {
    color: var(--white);
    font-family: "Source Code Pro", monospace;
    position: relative;
    font-size: 1.1em;
}

a#menu::after {
    content: " ";
    width: 0%;
    height: 3px;
    background-color: var(--white);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

a#menu:hover::after {
    width: 100%;
}



.search {
    display: flex;
    align-items: center;
    border: 1px solid var(--marrom);
    background-color: var(--white);
    max-width: 400px;
    width: 100%;
    border-radius: 15px;
    padding: 5px 5px;
    color: var(--marrom);
    margin-right: 50px;
    position: relative;
    margin-bottom: 12px;
}

#searchInput {
    padding: 5px;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;

}

svg {
    display: block;
}


h2#tittletop {
    color: var(--marrom);
    margin-bottom:30px;
    margin-top: -130px;
    text-align: center;    
    font-family: "Playfair Display", serif;
    font-size: 2em;

}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;


}

.card {
    background-color: #8B4500;
    width: 180px;
    margin: 1px;
    border-radius: 15px;
}

.card-image {
    height: 150px;
    margin-bottom: 2px;
    background-size: cover;
    border-radius: 15px;


}

.card-1 {
    background-image: url('../imagens/dodia.jpg');
}

.card-2 {
    background-image: url('../imagens/doces.jpg');
}

.card-3 {
    background-image: url('../imagens/salgadas.jpg');
}

.card-4 {
    background-image: url('../imagens/bebidas.jpg');
}

.card-5 {
    background-image: url('../imagens/veganas.jpg');
}

.card h2 {
    text-align: center;
    color: var(--white);
    font-family: "Playfair Display", serif;
    ;

}

.card p {
    color: var(--white);
    text-align: left;
    font-size: 0.8em;
    font-family: "Source Code Pro", monospace;
    padding: 10px;

}

.card a {
    background-color: #B2AC88;
    color: var(--marrom);
    padding: 10px 10px;
    display: block;
    text-align: center;
    margin: 20px 40px;
    text-decoration: none;
}

.card:hover {
    background-color: var(--vermelho-terroso);
    cursor: pointer;
    transform: scale(1.05);
    transition: all 1s ease;
}
