@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


:root {
    --main-color: #BD4700;
    --white: #EEE8AA;
    --cinza: #B2AC88;
    --marrom: #8B4500;
    --border: 0.1rem solid;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Public Sans;
    text-decoration: none;
    outline: none;
    transition: 0.2s linear;
    /*outline: 1px solid red;*/
}

body {
    background-color: var(--white);
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    background-color: var(--marrom);
    height: 10vh;
    width: 100%;
    padding: 20px;

}

.navbar {
    display: flex;
    position: relative;
    gap: 40px;
   left: 80px;

}

a#menu {
    color: var(--white);
    font-family: "Source Code Pro", monospace;
    position: relative;
    font-size: 1.1em;
}

a#menu::after {
    content: " ";
    width: 0%;
    height: 3px;
    background-color: var(--white);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

a#menu:hover::after {
    width: 100%;
}

.search {
    display: flex;
    align-items: center;
    border: 1px solid var(--marrom);
    background-color: var(--white);
    max-width: 400px;
    width: 100%;
    border-radius: 15px;
    padding: 15px 10px;
    color: var(--marrom);
    margin-right: 50px;
}

#searchInput {
    padding: 5px;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;

}

svg {
    display: block;
        
}
h1 {
    color: var(--white);
    font-family: "Playfair Display", serif;
    font-size: 3em;
    text-shadow: rgba(0, 0, 0, 0.466) 2px solid;
    text-align: justify;
    margin-left: 150px;
    bottom: 250px;


}

h2#tittletop {
    color: var(--marrom);
    text-align: center;
    padding-bottom: 30px;
    font-family: "Playfair Display", serif;
    font-size: 2em;
    text-shadow: solid 5px black;
}

.container {
 display: flex;
 justify-content: center;


}

.card {
    background-color: #8B4500;
    width: 150px;
    height: 250px;
    margin: 5px;
    border-radius:15px;
}

.card-image {
  height: 150px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 0 15px 0;

}

.card-1 {
    background-image: url('../imagens/dodia.jpg');
}

.card-2 {
    background-image: url('../imagens/doces.jpg');
}

.card-3 {
    background-image: url('../imagens/salgadas.jpg');
}

.card-4 {
    background-image: url('../imagens/bebidas.jpg');
}

.card-5 {
    background-image: url('../imagens/veganas.jpg');
}

h2#card {
    text-align: center;
    color: var(--white);
}
