@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Public Sans;
    text-decoration: none;
}

header {
    background-color: var(--color-neutral2);
}

