@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Public Sans;
}

header {
    background-color: var(--color-neutral2);
    padding: 20px 3%;
    position: sticky;
    top: 0;
    z-index: 1;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    ul {
            display: none;
            list-style-type: none;
            flex-direction: column;
            gap: 0.3rem;
            width: 100%;
            position: absolute;
            top: 80%;
            background-color: var(--color-neutral0);
            left: 0;
            padding: 1rem;
        
        &.show {
            display: flex;
        }
    }

    .btn-contact {
        display: none;
    }
}

li {
    text-align: center;

    a {
        text-decoration: none;
        font-size: 1rem;
        font-weight: 500;
        transition: all 0.5s ease;

        &:hover {
            color: var(--color-neutral2);
            border-bottom: 1px solid var(--color-neutral2);
        }
    
    }
}

body {
    background-color: var(--color-neutral0);
    min-height: 100vh;
   
}
