@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color: #BD4700;
    --white: #EEE8AA;
    --cinza:#B2AC88;
    --border: 0.1rem solid;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Public Sans;
    text-decoration: none;
    outline: none;
    transition: 0.2 linear;
}

body {
    background-color: var(--white)
}

header {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background-color: var(--white);
    height: 10vh;
    width: 100vw;
    padding: 20px;
}

a#menu {
    color: var(--main-color)
}

div.topper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    padding: 5x;
    height: 30vh;
}

h1 {
    font-family: Sergio Trendy;
    font-size: 60px;
    color: var(--white);
}

img#imglogo {
    width: 250px;
    height: 250px;
}
